.header{
    background-color: #008a5e;
    color: white;
    display: flex;
    justify-content: center;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px -40px 10px;
}

.headerContainer.homeMode{
    width: 100%;
    max-width: 1024px;
    margin: 20px 10px 50px 10px;
}

.headerList{
    display: flex; 
    gap: 40px;
}

.headerListItem {    
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 0px 50px 0px;
     
}

.headerListItem:hover{
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 15px;
}

.headerDesc{
    margin: 20px 0px;
}
