.Form{
    width: 400px;
    height: 550px;
    display:flex;
    align-items: center;    
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
}